.extension-actions-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
    min-width: 380px;
  }
}
.extension-action-buttons {
  display: flex;
  gap: 0.5rem;
  height: fit-content;
  button {
    border: 1px solid rgb(84, 89, 105);
    border-radius: 32px;
    background-color: transparent;
    font-weight: 550;
    &:focus {
      outline: 1px solid hsl(3, 71%, 56%);
    }
    &:hover {
      background-color: hsl(225, 23%, 24%);
      outline: 1px solid hsl(3, 71%, 56%);
    }
  }
  .active {
    background-color: hsl(3, 71%, 56%);
    color: hsl(226, 25%, 17%);
    &:hover {
      background-color: hsl(3, 71%, 56%);
      outline: 1px solid hsl(3, 71%, 56%);
    }
  }
}
.light-mode {
  .extension-actions-container {
    button {
      color: hsl(227, 75%, 14%);
      border-color: hsl(217, 61%, 90%);
      &:hover {
        outline: 1px solid hsl(217, 61%, 90%);
        background-color: hsl(217, 61%, 90%);
      }
    }
    .active-light {
      border-color: hsl(217, 61%, 90%);
      background-color: hsl(3, 71%, 56%);
      color: #fff;

      &:hover {
        background-color: hsl(3, 71%, 56%);
        color: #fff;
      }
    }
  }
  .extension {
    .remove-button:hover {
      background-color: hsl(3, 71%, 56%);
      color: hsl(217, 61%, 90%);
    }
  }
}
